

.middle{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

img{
  border-radius: 50%;
  width: 50%;
  margin-left: 30%;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width:75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--purple);
}

.right{
    margin-right: 3rem;
}

.bottom{
    margin-top: 1rem;
    border-bottom: 1px dashed var(--black);
    padding: 0.5rem;
    width: 25%;
}

.userPage-container{
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  margin-right: 100px;
}

/* .hero{
  width: 300px;
} */

#username{
  font-weight: 700;
}

