.Upper{
    background-color: purple;
    padding: 0.5rem;
    
}

.middle{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-start;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    width:75px;
    height: 75px;
    border-radius: 50%;
    background-color: var(--purple);
}

.right{
    margin-left: 2rem;
}

.bottom{
    margin-top: 1rem;
    border-bottom: 1px dashed var(--black);
    padding: 0.5rem;
}