@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

body{
  font-family: 'Poppins', sans-serif;
  background-color: rgb(246, 245, 245);
}
:root{
  --white: #fff;
  --black: hsl(0, 0%, 7%);
  --grey: #777373;
  --purple: #8f25cc;
  --lightpurple: #b89dc8;
}
